.hidden {
  display: none; }

.positioner {
  width: 1100px;
  margin: auto;
  background-color: white;
  height: 100%; }

html, body {
  padding: 0;
  margin: 0;
  background-color: #efefef;
  width: 100%;
  height: 100%; }

header {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header ul {
    list-style-type: none;
    display: flex;
    padding: 0; }
    header ul li {
      padding: 0 20px;
      text-transform: uppercase;
      font-size: 110%; }
      header ul li a {
        text-decoration: none;
        color: #4f4f4f; }
        header ul li a:hover {
          color: #333333; }
  header #menu {
    background-color: white;
    border: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 110%;
    text-decoration: none;
    color: #333333;
    outline: none; }

.vesti {
  display: flex;
  height: 580px; }
  .vesti #slider {
    width: 1100px;
    height: 100%;
    overflow: hidden; }
    .vesti #slider .slides {
      display: flex;
      width: 5500px;
      height: 100%;
      margin: 0;
      padding: 0; }
      .vesti #slider .slides .slide {
        list-style-type: none;
        height: 100%;
        width: 1100px; }
      .vesti #slider .slides .slide1 {
        background-image: url("../images/students-taking-examination.jpg"); }
      .vesti #slider .slides .slide2 {
        background-image: url("../images/Bus.jpg"); }
      .vesti #slider .slides .slide3 {
        background-image: url("../images/MetropolitanTalenti.jpg"); }
      .vesti #slider .slides .slide4 {
        background-image: url("../images/metmobilechallenge-1.png"); }
    .vesti #slider h1 {
      margin-top: -50px;
      width: 100%;
      position: absolute;
      color: white;
      padding-left: 10px;
      vertical-align: bottom;
      font-family: 'Source Sans Pro', sans-serif; }
      .vesti #slider h1:hover {
        text-decoration: underline; }

.links {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px; }
  .links .link {
    width: 250px;
    text-align: center; }
    .links .link img {
      height: 100px;
      width: 100px; }
    .links .link h3 {
      color: #474747;
      padding-top: 10px; }
    .links .link p {
      color: #3d3d3d;
      line-height: 130%; }
    .links .link a {
      text-decoration: none;
      color: blue; }

.nnb {
  display: flex;
  margin-top: 0;
  height: 300px;
  flex-direction: row;
  text-align: center;
  padding-bottom: 5px; }
  .nnb img {
    max-width: 70%; }
  .nnb .nnbinfo {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #3B393A;
    margin: 0 0 0 5px; }
    .nnb .nnbinfo p {
      flex: 1;
      line-height: 130%;
      color: #FE4FF6;
      padding-left: 15px;
      padding-right: 15px; }
    .nnb .nnbinfo a {
      color: white;
      text-decoration: none; }

footer {
  background-color: #f7f7f7;
  color: #3d3d3d;
  padding-top: 5px;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif; }
  footer p, footer li {
    line-height: 160%;
    width: 300px;
    font-size: 80%; }
  footer h3 {
    margin: 0; }
  footer .aboutus {
    margin: 0 200px 0 10px; }
  footer .footernav {
    width: 300px; }
    footer .footernav ul {
      margin-top: 10px;
      padding: 0;
      list-style-type: none; }
      footer .footernav ul a {
        text-decoration: none;
        color: #333333; }
        footer .footernav ul a:hover {
          color: black;
          text-decoration: underline; }
      footer .footernav ul li {
        padding-bottom: 4px;
        border-bottom: 1px solid #d1d1d1; }

.copyright {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ededed;
  color: #333333; }
  .copyright p {
    font-size: 90%;
    margin: 0 10px;
    padding: 10px; }

.menuslide {
  margin-left: -1500px;
  position: absolute;
  width: 1100px;
  height: 100%;
  background-color: white; }
  .menuslide .menunav {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px grey solid; }
    .menuslide .menunav .options {
      display: flex;
      align-items: center; }
      .menuslide .menunav .options .search {
        display: flex;
        border: 1px solid #878787;
        margin: 10px;
        border-radius: 2px; }
        .menuslide .menunav .options .search input {
          padding: 0;
          width: 300px;
          height: 30px;
          border: none;
          margin: 0 5px;
          font-size: 140%;
          font-family: 'Source Sans Pro', sans-serif; }
          .menuslide .menunav .options .search input:focus {
            outline: none; }
        .menuslide .menunav .options .search #searchbutton {
          height: 30px;
          width: 30px;
          margin: 0; }
          .menuslide .menunav .options .search #searchbutton img {
            padding: 0;
            margin: 0;
            height: 30px;
            width: 30px; }
      .menuslide .menunav .options a {
        margin-right: 10px;
        color: #333333;
        text-decoration: none; }
    .menuslide .menunav button {
      background-color: white;
      border: none;
      outline: none; }
      .menuslide .menunav button img {
        height: 60px; }
  .menuslide .menucontent {
    display: flex;
    flex-wrap: wrap; }
    .menuslide .menucontent .menulist {
      list-style-type: none;
      margin-right: 40px; }
      .menuslide .menucontent .menulist a {
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: none;
        color: #333333;
        line-height: 180%;
        font-size: 115%; }
        .menuslide .menucontent .menulist a:hover {
          color: #333333; }
