doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
    //build:css css/main.min.css
    link(rel='stylesheet', type='text/css', href='css/main.css')
    //endbuild
    title Gimnazija "Svetozar Markovic"
  body
    .positioner
      .menuslide
        .menunav
          .options
            .search
              input.box(type='text')
              a#searchbutton(href='')
                img(src='https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-128.png')
            a(href='#') En
            a(href='#') Lat
            a(href='#') Cir
          button#exit
            img(src='images/cross-128.png')
        .menucontent
          ul.menulist
            li
              a(href='#')
                h2 O nama
            li
              a(href='#') Gimnazija nekad i sad
            li
              a(href='#') Svetozar Marković
            li
              a(href='#') Školski prostor
            li
              a(href='#') Kolektiv gimnazije
            li
              a(href='#') Smerovi
            li
              a(href='#') Fond časova
            li
              a(href='#') Foto galerija
            li
              a(href='#') Gimnazija u štampi
          ul.menulist
            li
              a(href='#')
                h2 Upis
            li
              a(href='#') Pravilnik o upisu učenika u srednju školu
            li
              a(href='#') Kalendar aktivnosti za školsku 2016/2017. godinu
            li
              a(href='#') Zadaci sa prijemnih ispita
          ul.menulist
            li
              a(href='#')
                h2 Takmičenja
            li
              a(href='#') Najuspešniji takmičari 2014
            li
              a(href='#') Najuspešniji takmičari 2013
            li
              a(href='#') Naši olimpijci
            li
              a(href='#') Takmičenja iz matematike
          ul.menulist
            li
              a(href='#')
                h2 Novosti
            li
              a(href='#') Javne nabavke
            li
              a(href='#') Konkursi
            li
              a(href='#') Vesti gimnazije
            li
              a(href='#') Vesti o upisu
            li
              a(href='#') Vesti o takmicenjima
            li
              a(href='#') Vesti o aktivnostima
            li
              a(href='#') Vesti o projektima
          ul.menulist
            li
              a(href='#')
                h2 Aktivnosti
            li
              a(href='#') Školski časopis Grogi
            li
              a(href='#') Muzička sekcija
            li
              a(href='#') Debatni klub
            li
              a(href='#') Etno sekcija
            li
              a(href='#') Matura
          ul.menulist
            li
              a(href='#')
                h2 Projekti
            li
              a(href='#') Festival nauke
            li
              a(href='#') Idea
            li
              a(href='#') Razvionica
            li
              a(href='#') Central European Initiative - CEI
            li
              a(href='#') ACES - Nove tehnologije
            li
              a(href='#') Zdravo Evropo
            li
              a(href='#') Noć Istraživača
          ul.menulist
            li
              a(href='#')
                h2 Peuzimanje
            li
              a(href='#') Dokumenti
            li
              a(href='#') Upis
            li
              a(href='#') Zadaci
            li
              a(href='#') Grogi
      #initialpage
        header
          img(src='http://www.gsm-nis.edu.rs/uploads/quattro/pageLogo.png')
          ul
            li
              a(href='#') Upis
            li
              a(href='#') Aktivnosti
            li
              a(href='#') Projekti
            li
              a(href='#') Kontakt
          button#menu Meni
        .vesti
          #slider
            ul.slides
              li.slide.slide1
              li.slide.slide2
              li.slide.slide3
              li.slide.slide4
              li.slide.slide1
            .slidetext
              a(href='#')
                h1#slide1 Prijavljivanje kandidata za polaganje prijemnog ispita
              a(href='#')
                h1#slide2.hidden Programi putovanja - ekskurzije
              a(href='#')
                h1#slide3.hidden Metropolitan talenti
              a(href='#')
                h1#slide4.hidden Met Mobile Challenge - 2017
        .links
          .link
            img(src='images/book.svg')
            h3 Priprema
            p
              | Organizovali smo pripreme učenika za upis u prvi razred specijalnog odeljenja za talentovane matematičare, bilingvalna odeljenja na francuskom i engleskom i odeljenja VII razreda osnovne škole za talentovane matematičare.
            a(href='#') Opširnije
          .link
            img(src='images/diploma.svg')
            h3 Takmičenja
            p
              | Naši učenici su redovno članovi državnog tima na međunarodnim olimpijadama iz oblasti informatike, matematike i fizike
            a(href='#') Opširnije
          .link
            img(src='images/student-hat.svg')
            h3 Smerovi
            p
              | U okviru obrazovno-vaspitnog rada, škola pruža učenicima najrazličitije mogućnosti, s obzirom na to da postoji čak šest nastavnih modula.
            a(href='#') Lista smerova
        .nnb.positioner
          img(src='http://festivalnauknijebauk.edu.rs/images/slider/nnb9.jpg')
          .nnbinfo
            p
              | Festival "Nauk nije bauk" ove godine odrzace se po 9. put 31. marta i 1. aprila 2017. u holu Elektronskog fakulteta. Dodjite i zajedno sa nama uronite u cudesni svet nauke!
              | Detaljnije o festivalu, kao i prenos uzivo, mozete pratiti na 
              a(href='http://www.festivalnauknijebauk.edu.rs/') sajtu
              |  festivala i na 
              a(href='') facebook
              |  stranici
        footer
          .aboutus
            h3 O nama
            p Tekst
          .footernav
            h3 Navigacija
            a(href='') Link
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //build:js js/main.min.js
    script(src='js/main.js')
    //endbuild
